/* .Perencanaan-Strategi-outer{
    pointer-events:none;
    z-index:131;
    position:relative;
    display:flex;
    }

.Perencanaan-Strategi{
    position:relative;
    z-index:131;
    pointer-events:none;
    margin-left:501px;
    width:438px;
    min-width:436px;
    margin-top:-1985px;
    margin-bottom:1925px;
    min-height:60px;
    text-align:left;
    color:rgba(0, 0, 0, 1);
    font-style:normal;
    font-family:Montserrat;
    font-weight:600;
    font-size:36px;
    letter-spacing:1.8px;
    line-height:60px;
    }

    .Perusahaan-IT-yang-b-outer{
        pointer-events:none;
        z-index:130;
        position:relative;
        display:flex;
      }

      .Perusahaan-IT-yang-b{
        position:relative;
        z-index:130;
        pointer-events:none;
        margin-left:277px;
        width:900px;
        min-width:900px;
        margin-top:-1900px;
        margin-bottom:1804px;
        min-height:96px;
        text-align:center;
        display:flex;
        flex-direction:column;
        justify-content:center;
        color:rgba(77, 77, 79, 1);
        font-style:normal;
        font-family:Montserrat;
        font-weight:500;
        font-size:24px;
        letter-spacing:2.4px;
        line-height:32px;
      }
 */
